body{
    text-align: center;
}

.chat-box {
    padding: 80px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.74);
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    background-color: rgba(0, 0, 0, 0.89);
    color: whitesmoke;
}

#send-message{
    margin-top: 10px;
    float:left;
}
.card-body{
    overflow: scroll;
    text-align: left;
    height: 400px;
}
#chat-messages{
    margin-top: 5px;
    margin-left: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background: gray;
    color: black;
    font-weight: bold;
    padding: 7px;

}
#user-name{
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    background:rgba(0, 0, 0, 0.89);
    text-align:center;
    color: #fff;
}
