/* category choice page */
.choice-header {
    margin-bottom: 0;
}

.choice-content {
    width: 85%;
}

.choice-col {
    padding: 0;
}

.outdoor-choice-box {
    padding: 160px;
    background-color: rgba(177, 172, 172, 0.89);
    width: 100%;
    height: 100vh;
    display: none;
    
}

.indoor-choice-box {
    padding: 160px;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100vh;
    display: none;
}

.indoor-tag,
.outdoor-tag {
    color: white;
    font-style: italic;
    margin-top: 20px;
}

@media screen and (max-width: 444px) {
     
    .outdoor-choice-box {
        padding-right: 35px;
        padding-left: 15px;
    }

    .indoor-choice-box {
        padding-right: 15px;
        padding-left: 35px;
    }
}