/* fonts */
@font-face {font-family: "FrederickatheGreat"; src: url('../fonts/FrederickatheGreat-Regular.ttf');}
@font-face {font-family: "Caveat"; src: url('../fonts/Caveat-Regular.ttf');}
@font-face {font-family: "Comfortaa"; src: url('../fonts/Comfortaa-Regular.ttf');}
@font-face {font-family: "CabinSketch"; src: url('../fonts/CabinSketch-Regular.ttf');}
@font-face {font-family: "BrownhillScript"; src: url('../fonts/Brownhill-Script.ttf');}

/* nav bar and header area */
.main-header {
    background-color: rgba(0, 0, 0, 0.89);
    padding-top: 10px;
    border-radius: 0;
}

h1 {
    color: white;
    font-family: BrownhillScript;
}

.nav-link {
    color: #b8b4b2;
    margin: 0;
}

.nav-link:hover {
    color: white;
}

.btn {
    margin-top: 8px;
    margin: 0 auto;
}

.backarrow {
    float: left;
    color: #fff;
    background: none;
    font-size: 30px;
    transition-delay: .1s;
}

.backarrow:hover {
    color: #b8b4b2;
    text-decoration: none;
}

.backarrow-hidden {
    visibility: hidden;
    float: left;
    color: #fff;
    background: none;
    font-size: 30px;
    transition-delay: .1s;
}

.display-3 {
    clear: both;
}

.title-link:hover {
    text-decoration: none;
}

/* login page */
.login-content {
    display: none;
}

/* bored button page */
.bored-button {
    display: none;
}

/* search page */
.input-form {
    display: none;
}

/* category choice page */
.choice-header {
    margin-bottom: 0;
}

.choice-content {
    width: 85%;
}

.choice-col {
    padding: 0;
}

.outdoor-choice-box {
    padding: 160px;
    background-color: rgba(177, 172, 172, 0.89);
    width: 100%;
    height: 100vh;
    display: none;
}

.indoor-choice-box {
    padding: 160px;
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    height: 100vh;
    display: none;
}

.indoor-tag,
.outdoor-tag {
    color: white;
    font-style: italic;
    margin-top: 20px;
}

/* indoor outdoor categories pages */
.in-col {
    margin: 0;
}

/* .box-1, 
.box-2, 
.box-3, 
.box-4, 
.box-5, 
.box-6, 
.box-7, 
.box-8 {
    padding: 90px;
    padding-left: 105px;
    padding-bottom: 130px;
    height: 175px;
    background: rgb(158, 158, 158);
    width: 100%;
} */

/* .in-box-1, 
.in-box-2, 
.in-box-3 {
    padding: 150px;
    padding-top: 0px;
    margin-bottom: 30px;
    margin-left: 25px;
    height: 175px;
    background: none;
    width: 220px;
    border-radius: 50%;
    text-align: center;
} */

.in-header {
    margin-bottom: 0;
}

.in-col {
    padding: 0;
}

.in-container {
    background-color: rgba(0, 0, 0, 0.74);
    padding: 160px;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.out-header {
    margin-bottom: 0;
}

.out-col {
    padding: 0;
}

.out-container {
    background-color: rgba(177, 172, 172, 0.89);
    padding: 90px;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fas,
.fab {
    padding: 10px;
    font-size: 75px;
    color: white;
}

.fas-in:hover {
    color: #b8b4b2;
    transition-delay: .1s;
}

.fas-out:hover {
    color: rgba(0, 0, 0, 0.74);
    transition-delay: .1s;
}

.row-2 {
    margin-top: 90px;
    margin-bottom: 20px;
}

.box-1, 
.box-2, 
.box-3, 
.box-4, 
.box-5, 
.box-6, 
.box-7, 
.box-8 {
    display: none;
}

.in-box-1, 
.in-box-2, 
.in-box-3 {
    display: none;
}
