/* fonts */
@font-face {font-family: "Caveat"; src: url('../fonts/Caveat-Regular.ttf');}
@font-face {font-family: "Comfortaa"; src: url('../fonts/Comfortaa-Regular.ttf');}
@font-face {font-family: "BrownhillScript"; src: url('../fonts/Brownhill-Script.ttf');}

/* nav bar and header area */
.main-header {
    background-color: rgba(0, 0, 0, 0.89);
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 90px;
    border-radius: 0;
    width: 100%;
}

h1 {
    color: white;
}

nav {
    background-color: rgba(0, 0, 0, 0.89);
}

.navbar-nav {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.nav-link {
    color: #b8b4b2;
    margin: 0;
    -webkit-transition: color .7s; /* For Safari 3.0 to 6.0 */
    transition: color .7s; /* For modern browsers */
}

.nav-link:hover {
    color: white;
}

.btn {
    margin-top: 8px;
    margin: 0 auto;
    
}

.backarrow {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 15px;
    background: none;
    font-size: 30px;
    -webkit-transition: color .7s; /* For Safari 3.0 to 6.0 */
    transition: color .7s; /* For modern browsers */
}

.backarrow:hover {
    color: #b8b4b2;
    text-decoration: none;
}

.backarrow-hidden {
    visibility: hidden;
    float: left;
    color: #fff;
    background: none;
    font-size: 30px;
    transition-delay: .05s;
}

.display-3 {
    clear: both;
}

.title-link:hover {
    text-decoration: none;
}