/* fonts */
@font-face {font-family: "Caveat"; src: url('../fonts/Caveat-Regular.ttf');}
@font-face {font-family: "Comfortaa"; src: url('../fonts/Comfortaa-Regular.ttf');}
@font-face {font-family: "BrownhillScript"; src: url('../fonts/Brownhill-Script.ttf');}

/* nav bar and header area */
.main-header {
    background-color: rgba(0, 0, 0, 0.89);
    padding-top: 10px;
    border-radius: 0;
}

h1 {
    color: white;
}

.nav-link {
    color: #b8b4b2;
    margin: 0;
}

.nav-link:hover {
    color: white;
}

.btn {
    margin-top: 8px;
    margin: 0 auto;
}

.backarrow {
    float: left;
    color: #fff;
    background: none;
    font-size: 30px;
    transition-delay: .1s;
}

.backarrow:hover {
    color: #b8b4b2;
    text-decoration: none;
}

.backarrow-hidden {
    visibility: hidden;
    float: left;
    color: #fff;
    background: none;
    font-size: 30px;
    transition-delay: .05s;
}

.display-3 {
    clear: both;
}

.title-link:hover {
    text-decoration: none;
}